{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card text-center">
        <div class="card-header">
          Привет, меня зовут Юля!
        </div>
        <div class="card-body">
          <p>Это мой самый первый сайт! Я постараюсь со временем сделать его красивым и удобным.</p>
          <a href="https://github.com/julka3561" target="_blank" class="btn btn-primary">Мой аккаунт на GitHub</a>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row --> 
</div>
{% endblock %} 